.DS_Store
*.iml
*.dex
*.class
*.apk
*.ap_
*.log
google-services.json
bin/
gen/
.gradle/
/build
local.properties
.idea/*
!.idea/codeStyleSettings.xml
!.idea/dictionaries/
/captures
firebase-crashreporting.json
